/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*swp
**/deps.*
**/objs.*
**/bin.debug
**/bin.release
results
contrib/shedskin-compile-to-native/Makefile
contrib/shedskin-compile-to-native/hexspeak
contrib/shedskin-compile-to-native/hexspeak.cpp
contrib/shedskin-compile-to-native/hexspeak.hpp
contrib/Nim/hexspeak
